body {
    background-color: hsl(240, 40%, 20%);
    color: white;
    width: 1200px;
    margin: auto;
}

.header,
.footer {
    text-align: center;
}

img {
    border: red solid 4px;
    border-radius: 8px;
}

.short-ls {
    width: 300px;
    background-color: burlywood;
    border: solid red 4px;
    border-radius: 8px;
    color: hsl(240, 30%, 30%); 
}